# JSON files created by program #
matches.json
raw_matches.json
test.json
results.json
matchestest.json
resultstest.json
dtree.dot

log
# Use this file to run tests during development
test.py

# VScode folder
.vscode/

# API key
apikey

# __pycache__
__pycache__/
